.poke-card {
    width: 100%;
    max-width: 340px;
    border-radius: 0.7em;
    border: 0.4em solid rgb(56, 123, 61);
    background-color: rgba(248, 232, 232, 0.871);
    transition: transform 300ms;
    cursor: pointer;

}

.poke-card:hover {
    transform: scale(1.04)
}



.poke-card__header {
    background-color: rgb(243, 236, 236);
    height: 120px;
    position: relative;
}

.poke-card__sprite {
    width: 50%;
    left: 50%;
    top: 10px;
    position: absolute;
    transform: translateX(-50%);
}

.poke-card__body {
    padding-top: 2.6em;
}

.poke-card__name {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.7rem;
    font-weight: 600;
}

.poke-card__types-container {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.poke-card__type {
    position: relative;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 0.9em;
}

.poke-card__type:nth-child(2)::before {
    content: "/";
    position: absolute;
    left: -12px;
}

.poke-card__footer {
    padding: 1em 0.8em 2em;
}

.poke-card__stast-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 25px 5px;
}

.poke-card__stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poke-card__label {
    text-transform: uppercase;
    opacity: 0.8;
    font-weight: 200;
    font-size: 0.6rem;
}

.poke-card__baseStat {
    font-weight: 200;
}

/*linear color*/
.bg-grass {
    background: linear-gradient(90deg, rgba(42, 62, 76, 1) 18%, rgba(33, 203, 89, 1) 87%);
}

.bg-fire {
    background: linear-gradient(90deg, rgba(161, 112, 52, 1) 17%, rgba(219, 86, 9, 1) 67%);
}

.bg-water {
    background: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);

}

.bg-fighting {
    background: linear-gradient(176.83deg, #96402A -8.78%, #F1613C 169.09%, #CB735D 242.33%);
}

.bg-normal {
    background: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
}

.bg-ground {
    background: linear-gradient(176.83deg, #96402A -8.78%, #F1613C 169.09%, #CB735D 242.33%);
}

.bg-rock {
    background: linear-gradient(177.03deg, #7E7E7E -11.97%, #8D8D94 57.49%, #D3D3D3 135.64%);
}

.bg-bug {
    background: linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);
}


.bg-ghost {
    background: linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);
}

.bg-electric {
    background: rgba(202, 199, 11, 0.807)
}

.bg-psychic {
    background: linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);
}

.bg-ice {
    background: linear-gradient(177.03deg, #6FBEDF -11.97%, #64CBF5 47.77%, #BDEBFE 136.72%);
}

.bg-dragon {
    background: linear-gradient(179.75deg, #478A93 -19.96%, #56A4AE 43.67%, #A2BEC1 138.4%);
}

.bg-fairy {
    background: linear-gradient(179.75deg, #971B45 -19.96%, #C23867 43.67%, #CD7D98 138.4%);
}

.bg-steel {
    background: linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);
}

.bg-dark {
    background: linear-gradient(177.03deg, #030706 -11.97%, #0D1211 57.49%, #5A5E5D 135.64%);
}

.bg-poison {


    background: linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);
}


.border-grass {
    border-color: #3b6e48;
}

.color-grass {
    color: #497e57;
}


.border-fire {
    border-color: #a34519;
}

.color-fire {
    color: #a34519;
}

.border-water {
    border-color: #1276b0;
}

.color-water {
    color: #1276b0;
}

.border-fighting {
    border-color: #CB735D;
}

.color-fighting {
    color: #CB735D;
}

.border-normal {
    border-color: #7C3F4C;
}

.color-normal {
    color: #7C3F4C;
}

.border-ground {
    border-color: #CB735D;
}

.color-ground {
    color: #CB735D;
}


.border-rock {
    border-color: #9c9999;
}

.color-rock {
    color: #9c9999;
}

.border-bug {
    border-color: #AAFFA8;
}

.color-bug {
    color: #AAFFA8;
}

.border-ghost {
    border-color: #787DDA;
}

.color-ghost {
    color: #787DDA;
}

.border-electric {
    border-color: rgba(202, 199, 11, 0.807)
}

.color-electric {
    color: rgba(202, 199, 11, 0.807)
}

.border-psychic {
    border-color: #A8A8A8;
}

.color-psychic {
    color: #A8A8A8;
}

.border-ice {
    border-color: #BDEBFE;
}

.color-ice {
    color: #BDEBFE;
}

.border-dragon {
    border-color: #A2BEC1;
}

.color-dragon {
    color: #A2BEC1;
}

.border-fairy {
    border-color: #CD7D98;
}

.color-fairy {
    color: #CD7D98;
}

.border-steel {
    border-color: #A8A8A8;
}

.color-steel {
    color: #A8A8A8;
}

.border-dark {
    border-color: #5A5E5D;
}

.color-dark {
    color: #5A5E5D;
}

.border-poison {
    border-color: #CE9BFF;
}

.color-poison {
    color: #CE9BFF;
}